---
import DefaultLayout from "../../../layouts/default.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  const paths = posts.map((post) => {
    const [locale, ...slug] = post.slug.split("/");
    return {
      params: { locale, slug: slug.join("/") || undefined },
      props: post,
    };
  });
  return paths;
}

const { locale, slug } = Astro.params;
const post = Astro.props;
const { Content } = await post.render();
---

<DefaultLayout locale={locale}>
  <h1>{post.data.title}</h1>

  <Content />
</DefaultLayout>
