<label class="cursor-pointer">
  <input id="darkToggler" type="checkbox" checked class="peer hidden" />
  <span class="peer-checked:block hidden">
    <i class="fa-solid fa-sun"></i>
  </span>
  <span class="peer-checked:hidden block">
    <i class="fa-solid fa-moon"></i>
  </span>
</label>
